{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/react"
  ],
  "env": {
    "test": {
      "presets": ["@babel/env", "@babel/react"]
    }
  }
}